target/*
bin/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/
*.css
!petclinic.css

nudge-agent/
nudge/
controller-config.properties
nudge*.log
nudge-conf-prod.zip
nudge.jar
nudge.properties
nudge.zip